body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
}

main {
  flex-grow: 1;
}

hr {
  border: 1px solid var(--main-blue);
  margin-block: var(--medium-spacing);
}

img {
  aspect-ratio: auto;
}

.hideContent {
  visibility: hidden;
}

.wrapper-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.error {
  color: red;
  font-size: 0.6em;
  font-family: inter;
}

.margin-block {
  margin-block: var(--huge-spacing);
}

.red-text {
  color: rgb(202, 25, 25);
}

.green-text {
  color: rgb(27, 147, 27);
}

.max-1200 {
  max-width: 1200px;
  margin-inline: auto;
}

.inlineP-huge {
  padding-inline: var(--huge-spacing);
}
