:root {
  /* Colors */

  --accent-color: #b22222;
  --white-color: #faf9f6;
  --grey-accent: #747474;
  --light-grey-accent: rgb(207, 207, 207);
  --footer-background-color: #dedede;
  --main-blue: #333587;
  --main-blue-hover: #4a4cb5;
  --nav-blue: #484ab6;

  /* Spacing */
  --small-spacing: 24px;
  --medium-spacing: 32px;
  --big-spacing: 40px;
  --huge-spacing: 48px;

  --nav-link-spacing: 40px;
}
