.button {
  --_transition-duration: 0.25s;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 15px;
  padding-inline: 20px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all var(--_transition-duration) linear;
  display: inline-block;
}

.button:hover,
.button:focus-within {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all var(--_transition-duration) linear;
  background-color: color-mix(in srgb, var(--main-blue) 80%, white 15%);
}

.button:active {
  box-shadow: none;
  background-color: color-mix(in srgb, var(--main-blue) 80%, black 15%);
}
