.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 630px) {
  .grid.biggerGap {
    gap: 50px;
  }
}
