.product-catalog {
  margin: var(--huge-spacing);
}

.product-catalog-filter,
.product-catalog-filter-right {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

.product-catalog-filter {
  justify-content: space-between;

  margin-bottom: 15px;
}

.product-catalog-filter-right {
  gap: 30px;
}
