.profile {
  margin: 2em auto;
  max-width: 1200px;
  padding: 2em;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-block: 2em;
  border: 1px solid var(--light-grey-accent);
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-details div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

.profile-details a {
  flex-grow: 1;
}

.profile-section {
  margin-block: var(--huge-spacing);
}

.profile-section-header {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--light-grey-accent);
}

.profile-section-header-title {
  font-family: inter;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-blue);
}

.profile-section-header-link {
  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  cursor: pointer;

  transition: all 0.2s linear;
}

.profile-section-header-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .profile-details {
    flex-direction: column;
  }
}
