.search {
    display: flex;

}

.search img {
    max-width: 20px;
}
.search_bar {
    width: 200px;
    padding: 0 10px;

    border-radius: 10px 0 0 10px;
    border: 1px solid rgb(67, 67, 67);
}

.search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    border-radius: 0 10px 10px 0;

    border: 1px solid rgb(67, 67, 67);
    border-left: none;

    transition: all 0.2s linear;
}

.search_button:focus-within,
.search_button:hover {
    background-color: rgb(190, 190, 190);
}

.search_button:active {
    background-color: gray;
}
